* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to top,
    rgb(99, 72, 164) 20%,
    rgb(29, 17, 98) 85%
  );
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ddd;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav {
  width: 100%;
  height: 4rem;
  padding: 1rem 0;
}

.nav .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo h2 {
  font-weight: 800;
  font-size: 1.25rem;
}

.nav .nav__menu {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.menu__item {
  cursor: pointer;
}

main {
  height: calc(100% - 4rem);
}

main .container {
  width: 1000%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  font-size: 7rem;
  color: rgb(221, 209, 250);
}

.hero__subtitle {
  font-size: 2rem;
  color: rgb(177, 157, 223);
}
